<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>회원 로그인</title>
</head>
<body>
<h2>Login</h2>
<form action="/signUp/customer" method="post">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" required><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" required><br>
    <input type="submit" value="Login">
</form>

<div>
    <a href="signup.html"> 회원가입 </a>
</div>

</body>
</html>
